.contents_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .left_contents {
        width: calc(50% - 15px);

        .main_total_sales {
            margin-bottom: 30px;
            box-sizing: border-box;

            .main_total_sales_title_box {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }
            .main_total_sales_title {
                color: var(--member-title-sub-color);
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 5px;
            }

            .main_total_sales_data {
                display: flex;
                align-items: center;
                justify-content: start;
                color: var(--nav-text-color);
                font-size: 24px;
                font-weight: 500;
            }
        }
    }

    .exchange_rate {
        margin-bottom: 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        color: var(--nav-text-color);
        box-sizing: border-box;
        [class$=rate_box] {
            padding: 10px 20px;
            flex: 1 1 25%;
            box-sizing: border-box;
            .usd_icon_box {
                background-color: #046f76;
                .usd_rate_icon {
                    color: #03c9d7;
                }
            }
            .eur_icon_box {
                background-color: #fff8ec;
                .eur_rate_icon {
                    color: #fec90f;
                }
            }
            .mxn_icon_box {
                background-color: #f9e7eb;
                .mxn_rate_icon {
                    color: #fc4b6c;
                }
            }
            .cad_icon_box {
                background-color: #ebfaf2;
                .cad_rate_icon {
                    color: #00c292;
                }
            }
            [class$=icon_box] {
                border-radius: 50%;
                box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                [class$=rate_icon] {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                }
            }
        }
        [class$=rate_box]:not(:last-child) {
            border-right: 1px solid rgba(0,0,0,.12);
        }
        [class$=rate_text] {
            margin-top: 20px;
            font-size: 21px;
            font-weight: 500;
        }
        [class$=rate_title_text] {
            font-size: 11.5px;
            margin-top: 5px;
            color: var(--member-title-sub-color);
        }
    }

    .best_item_box {
        width: 100%;
        margin-bottom: 15px;
        box-sizing: border-box;
        .best_item_top_box {
            align-items: center;
            display: flex;
            justify-content: space-between;
            .best_item_card_title_box {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                .best_item_card_title {
                    color: var(--member-title-sub-color);
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
            }
            .select_channel {
                width: 25%;
                margin: -6px;
            }
        }

        .best_item_list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            padding: 1.06em 0;
            border-bottom: 1px solid var(--border-color);

            &:last-child {
                border-bottom: 0;
            }

            .best_item_img {
                width: 90px;
                aspect-ratio: auto 90 / 70;
                height: 70px;
                border-radius: 6px;
                overflow-clip-margin: content-box;
                overflow: clip;
            }

            .best_item_title_box {
                width: 40%;

                .best_item_title {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .best_item_qty_box {
                width: 15%;
            }

            .best_item_amount_box {
                width: 20%;
            }

            .best_item_title_box, .best_item_qty_box, .best_item_amount_box {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;

                .best_item_title, .best_item_qty, .best_item_amount {
                    font-size: 14px;
                    color: var(--nav-text-color);
                }

                .best_item_sku, .best_item_qty_title, .best_item_amount_title {
                    font-size: 12.5px;
                    color: var(--member-title-sub-color);
                }
            }
        }
    }

    .right_contents {
        width: calc(50% - 15px);
    }
    .main_table_title_box {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 10px;
        .main_table_title {
            color: var(--member-title-sub-color);
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;
        }
    }
}